/* 基础公共样式 start */

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    margin: 0 auto;
    overflow: hidden;
    color: #fff;
    /*  background: -moz-linear-gradient(top, #3b3b3a, #1c1b1a);
    background: linear-gradient(#3b3b3a, #1c1b1a);
    background: linear-gradient(#3b3b3a, #1c1b1a); */
}

#app {
    width: 2260px;
    height: 1080px;
}

ul li {
    list-style: none;
}

i,
em {
    font-style: normal;
}

.fl {
    float: left
}

.fr {
    float: right
}

.clearFix:after {
    display: block;
    content: '';
    clear: both
}

.clearFix {
    zoom: 1
}

.tq-fontsize-14 {
    font-size: 14px!important;
}

.tq-margintop-20 {
    margin-top: 20px;
}

.tq-color-orange1 {
    color: #C4B39D!important;
}


/* 基础公共样式 end */


/* 页面包裹层、顶部布局 start */


/* 3b3b3a */

.app-container {
    position: relative;
    /*  background: -webkit-linear-gradient(top, #1c1b1a, #1c1b1a);
    background: -moz-linear-gradient(top, #1c1b1a, #1c1b1a);
    background: linear-gradient(#1c1b1a, #1c1b1a); */
}

.container {
    position: relative;
    width: 100%;
    height: 1080px;
    overflow: hidden;
}

.layer-container {
    background: url(../assets/back-img.png) no-repeat center;
    width: 100%;
    height: 1080px;
    position: relative;
    z-index: 1;
}

.layer-frame {
    width: 1900px;
    height: 904px;
    background: url(../assets/back-frame.png) no-repeat center;
    background-size: 1900px 904px;
    position: absolute;
    top: 25px;
    right: 100px;
    z-index: 1;
}

.layer-back {
    width: 1866px;
    height: 865px;
    background: url(../assets/back-frame1.png) no-repeat center;
    background-size: 1866px 865px;
    position: absolute;
    top: 42px;
    right: 118px;
    z-index: 1;
}

.layer-wrap {
    position: relative;
    width: 100%;
    height: 1080px;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    z-index: 2;
}

.wrap-scale {
    transform: scale3d(0.823, 0.783, 1);
    top: -71px;
    left: 80px;
}

.module-header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 68px;
    background: url(../assets/t-icon.png) center no-repeat;
    background-size: auto 68px;
    font-family: PingFangSC-Medium;
    font-size: 36px;
    color: #624216;
    letter-spacing: 0;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.50);
    line-height: 59px;
    text-align: center;
}


/* 页面包裹层、顶部布局 end */


/* 小金动画图层 start*/

.animate {
    z-index: 99;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
}

.animate-box {
    width: auto;
    height: 660px;
    position: absolute;
    bottom: 55px;
    left: -30px;
    z-index: 99;
}

.xiaojin {
    width: auto;
    height: 660px;
    margin-left: 0px;
    filter: drop-shadow(0 0 1px rgba(222, 193, 156)) drop-shadow(0 0 5px rgba(222, 193, 156, 0.8)) drop-shadow(0 0 20px rgba(222, 193, 156, 0.8));
    -moz-transform: scale3d(-1, 1, -1);
    -webkit-transform: scale3d(-1, 1, -1);
    -o-transform: scale3d(-1, 1, -1);
    transform: scale3d(-1, 1, -1);
    filter: fliph;
}

.trapezoid-left {
    position: absolute;
    top: 0;
    left: 0;
    height: 930px;
    width: 0;
    border-left: 230px solid;
    border-top: 0px solid transparent;
    border-bottom: 120px solid transparent;
    border-image: -webkit-linear-gradient(#444445, #272727) 30 30;
    border-image: -moz-linear-gradient(#444445, #272727) 30 30;
    border-image: linear-gradient(#444445, #272727) 30 30;
}

.trapezoid-right {
    position: absolute;
    bottom: 0px;
    left: -56px;
    height: 0;
    width: 2022px;
    border-bottom: 150px solid rgba(55, 55, 54, 1);
    border-left: 288px solid transparent;
    border-right: 0px solid transparent;
}


/* 小金动画图层 end*/


/* 弹窗面板样式 start */

.layer-panel {
    width: 1866px;
    height: 855px;
    position: absolute;
    top: 42px;
    right: 118px;
    z-index: 3;
    /* background: rgba(0, 0, 0, 0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(140deg, transparent 30px, rgba(0, 0, 0, 0.55) 0) top left, linear-gradient(-130deg, transparent 34px, rgba(0, 0, 0, 0.55) 0) top right, linear-gradient(-49deg, transparent 15px, rgba(0, 0, 0, 0.55) 0) bottom right, linear-gradient(40deg, transparent 24px, rgba(0, 0, 0, 0.55) 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
}

.panel-box {
    position: relative;
}

.panel-content {
    display: inline-block;
    position: absolute;
}


/* 弹窗面板样式 end */